<div class="hero min-h-screen bg-base-200 mb-6" id="info">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/profile.png?alt=media&token=f35fe81f-68b9-44db-a087-f97a887bf941" class="max-w-sm rounded-lg shadow-2xl" />
    <div class="text-center lg:text-left">
      <h3 class="text-xl font-bold">Mi nombre es Heriberto</h3>
      <h1 class="text-4xl font-bold">pero me dicen H</h1>
      <p class="py-6">Un versátil desarrollador de soluciones digitales,<br> ¿Tienes tú idea pero no sabes por donde comenzar?</p>
      <div class="flex flex-col sm:flex-row gap-4 justify-center lg:justify-start">
        <a href="https://linkedin.com/in/xhce911" target="_blank"><button class="btn btn-primary">Pregunta sin costo</button></a>
        <a href="javascript: go()"><button class="btn btn-outline btn-primary">Sigue leyendo</button></a>
      </div>
    </div>
  </div>
</div>

