<div class="hero min-h-screen bg-base-300 mt-6" id="Resume">
  <div class="hero-content w-full">
    <div class="flex flex-col xl:flex-row gap-6">
      <div class="xl:w-1/2 w-full">
        <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/crowdl.JPG?alt=media&token=679a1027-c965-4de4-bf1d-e660785ba9a5" alt="" class="mb-6 w-full rounded-lg">
        <div>
          <h3 class="text-xl font-semibold">En resumen mi </h3>
          <h1 class="mb-5 text-5xl font-bold">Experiencia</h1>
        </div>
       <p class="mb-4">
          Mi camino profesional comenzó en Crowd Interactive, una consultoría de software de alto nivel en Colima que operaba bajo estándares internacionales. Entrar como practicante siendo estudiante de Ingeniería en Electrónica y Comunicaciones fue el catalizador que me abrió las puertas al mundo del desarrollo profesional, permitiéndome fusionar la rigurosidad de la ingeniería con la agilidad del software.

          Tras esta etapa inicial, logré integrar mis conocimientos técnicos en el sector industrial, asumiendo primero un rol como técnico en sistemas de riego, para evolucionar rápidamente a la Dirección de Recursos Digitales y Comunicación Social de la empresa.
          <br><br>
          Impacto Social y Tecnología
          Mi carrera dio un giro significativo al coordinar talleres de apropiación social de la ciencia y la tecnología para CONACYT. Esta experiencia me permitió alfabetizar digitalmente a comunidades vulnerables, utilizando recursos lúdicos e interactivos para acercar la vanguardia tecnológica a niños, jóvenes y adultos. Este compromiso social continuó en la Fundación Proyecto Estela (Pachuca, Hidalgo), donde coordiné contenidos tecnológicos enfocados en el desarrollo comunitario.
          <br><br>
          
       </p>
      </div>
      
      <div class="xl:w-1/2 w-full">
        <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/hdgo.JPG?alt=media&token=32326d8e-ac82-4b4d-9c34-52ca21b0bf2f" class="mb-6 w-full rounded-lg">
        Evolución en el Ecosistema Digital
          Mi búsqueda de nuevos desafíos me llevó a la Ciudad de México y posteriormente a Nuevo León. En Monterrey, consolidé mi perfil durante cinco años como Desarrollador Multimedia en el Tecnológico de Monterrey, una de las instituciones educativas más prestigiosas de Latinoamérica.
          <br><br>
          Tras esta etapa, decidí regresar a mi estado natal para emprender como profesional independiente. En este periodo, colaboré con destacados reclutadores de IT en México y LATAM, aplicando mi experiencia técnica para el diseño y desarrollo de herramientas especializadas en la captación de talento tecnológico.
          <br><br>
          Presente y Visión a Futuro
          Actualmente, comparto mi experiencia como profesor de robótica en Manzanillo, Colima, formando a las nuevas generaciones en las habilidades del futuro. Me encuentro en una etapa de apertura profesional, buscando nuevos desafíos que me permitan integrar mis dos grandes pasiones: la innovación digital y el impacto social.
      </div>
    </div>
  </div>
</div>



