<div class="hero min-h-screen bg-base-300 mt-6" id="Resume">
  <div class="hero-content w-full">
    <div class="flex flex-col xl:flex-row gap-6">
      <div class="xl:w-1/2 w-full">
        <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/crowdl.JPG?alt=media&token=679a1027-c965-4de4-bf1d-e660785ba9a5" alt="" class="mb-6 w-full rounded-lg">
        <div>
          <h3 class="text-xl font-semibold">En resumen mi </h3>
          <h1 class="mb-5 text-5xl font-bold">Experiencia</h1>
        </div>
        <p class="mb-4">Mi experiencia comienza realizando practicas en una reconocida consultoría de desarrollo de software <b>Crowd Interactive</b>, empresa que desarrollaba bajo las normas y prácticas americanas de desarrollo de software, sin contar a los clientes, en mi estado natal, Colima, es así como me acerco al mundo del desarrollo de software y es que siendo un estudiante de ingeniería en eléctronica y comunicaciones, me abrirían las puertas como practicante o como coloquialmente se les conocen en México, "Becario".</p>
        <p class="mb-4">Con el conocimiento de mi carrera en conjunto con el medio tiempo, en desarrollo de software, es que acepto trabajar temporalmente en una empresa como tecnico de maquinas de riego y porteriormente convertirme en el director de recursos digitales de la empresa y comunicacion social.</p>
        <p class="mb-4">En el ultimo año de mi carrera me ofrecen la oportunidad de coordinar una serie de talleres en comunidades vulnerables del estado como parte de una estrategia de apropiacion social de la ciencia y tecnologia en el estado, llevada a cabo por el consejo nacional de ciencia y tecnologia CONACYT, dentro de estas actividades estaba la de instruir y alfabetizar sopbre temas de cultura digital y tecnologias de vanguardia asi como recursos ludicos e interactivos para niños adolescentes y adultos.</p>
      </div>
      
      <div class="xl:w-1/2 w-full">
        <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/hdgo.JPG?alt=media&token=32326d8e-ac82-4b4d-9c34-52ca21b0bf2f" class="mb-6 w-full rounded-lg">
        <p class="mb-4">Al termino de ese proyecto de impacto social, me mudé a la ciudad de México en busca de mas oportunidades, tras unos meses de colaborar con la fundación <i>Proyecto estela</i> en la región de Pachuca, en el estado de Hidalgo en la comunidad de la campana, como parte de este portafolio hago esta mención especial de ese proyecto, el cual me toco ser parte de la coordinación de los contenidos en los talleres y las acividades en relacion con tecnologia. </p>
        <p class="mb-4">Tiempo despues entre a trabajar como soporte técnico en el palacio de hierro como parte de una empresa que outsourceaba el servicio de tecnicos y responsables de venta de hardware, este empleo me llevaria a Nuevo Leon en el que tiempo despues, entraria a colaborar en el tec de Monterrey como desarrollador Multimedia</p>
        <p class="mb-4">Despues de 5 años de colaborar en Monterrey y tras una dificil decision es que regreso a mi estado como un habil freelance que temporalmente colaboró con uno de los mejores reclutadores de IT en México y LATAM, parte de un contrato temporal para crear un reclutador IT.</p>
        <p>Ahora meses despues es que me encuentro buscando un nuevo desafio laboral, profesional o de alguna situación que este orientado a lo digital o social.</p>
      </div>
    </div>
  </div>
</div>

