<footer class="footer footer-center p-10 bg-primary text-primary-content">
  <div>
   <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/Vector%208.svg?alt=media&token=4a57c50e-a94f-455c-aec2-a7d485f84d80" alt="">
    <p class="font-bold">
      Heriberto Cavazos Estrada<br/>Gurú digital
    </p> 
    <p>Todos los derechos compartidos</p>
    <p>Esta web fue hecha a mano con <a href="https://daisyui.com/" class="link link-hover">DaisyUI</a></p>
  </div> 
  <div>
    
  </div>
</footer>



