<div class="hero min-h-screen" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/1.jpg?alt=media&token=dd0cf920-3398-4c4b-9a38-93373008c376);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md sm:text-center">
      <h1 class="mb-5 text-5xl font-bold">Alöha !</h1>
      <p class="mb-5">Buscas a alguien que te ayude con tu pagina web o portafolio<br>que le sepa a la tecnología</p>
      <a href="javascript: next()"> <button class="btn btn-primary" >Me interesa</button></a>
    </div>
  </div>
</div>

