<div class="hero min-h-screen bg-base-300">
  <div class="hero-content flex-col xl:flex-row w-full gap-8">
    <div class="w-full xl:w-auto">
      <h3 class="text-xl font-semibold">Trabajos</h3>
      <h1 class="mb-5 text-5xl font-bold">Recientes</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-6 w-full xl:w-auto">
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://heroic-cendol-48620d.netlify.app/#/Team">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/MH.png?alt=media&token=1d870d31-7ae3-4bf2-a786-d0064f6ae6ca" alt="MIRVHUB" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            MIRVHUB
            <div class="badge badge-secondary">Offline</div>
          </h2>
          <p>Sitio de administración de recursos 3D para el Tec de Monterrey utilizaba Three.Js. </p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">WebVR & AR</div> 
            <div class="badge badge-outline">ReactJS</div>
          </div>
        </div>
      </div>
  
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://profesoratom-e2b4d.firebaseapp.com/">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/PA.png?alt=media&token=db2fd02d-2667-4da3-b144-7c3dcd63a363" alt="Profesor Atom" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Profesor Atom
            <div class="badge badge-secondary">Offline</div>
          </h2>
          <p>Un asistente de voz para una materia de física</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Voice Assistant</div> 
            <div class="badge badge-outline">Firebase</div>
          </div>
        </div>
      </div> 
    
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://81bravo.com/">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/81.png?alt=media&token=fbe40724-ec06-41cf-bbd9-4d417e489eaf" alt="81Bravo" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            81Bravo
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Una tienda en línea de ropa sobre bomberos en Colima</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Shopify</div> 
            <div class="badge badge-outline">Store</div>
          </div>
        </div>
      </div>
    
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="http://www.rdiaz.mx//">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/RD.png?alt=media&token=0a5cdf77-e649-4d26-a614-841bd02bbae8" alt="Rdiaz" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Rdiaz
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Una agencia de reciclaje y manejo de desechos industriales </p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Bootstrap</div> 
            <div class="badge badge-outline">PHP</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



