<div class="hero min-h-screen bg-base-300">
  <div class="hero-content flex-col xl:flex-row w-full gap-8">
    <div class="w-full xl:w-auto">
      <h3 class="text-xl font-semibold">Trabajos</h3>
      <h1 class="mb-5 text-5xl font-bold">Recientes</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-6 w-full xl:w-auto">
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://foroquilombo.web.app/">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/Quilombo.png?alt=media&token=1352c7e4-201c-4902-8fe7-f28589741e4a" alt="Quilombo" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            QUILOMBO
            <div class="badge badge-primary">Online</div>
          </h2>
          <p>Sitio Oficial del Quilombo Bar</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">ReactJs</div> 
            
          </div>
        </div>
      </div>
  
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://memoe.mx">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/Memoe.png?alt=media&token=0915865f-f96b-488a-b164-17a03950cd63" alt="Memoe" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Memöe
            <div class="badge badge-secondary">Offline</div>
          </h2>
          <p>Portafolio de un diseñador gráfico</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">ReactJs</div> 
            
          </div>
        </div>
      </div> 
    
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://Joseddo.com">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/Joseddo.png?alt=media&token=e06d508b-9f83-473a-bf54-4b78c708bff8" alt="Joseddo" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Joseddo
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Se trata del portafolio de un músico independiente</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">ReactJs</div> 
            
          </div>
        </div>
      </div>
    
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://archpielablog.com">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/Archipielablog.png?alt=media&token=f6cc2fe0-b49c-4b46-9ced-4240ee58bbd5" alt="Rdiaz" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Archipielablog
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Proyecto de revista digital</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">ReactJS</div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



