<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col w-full">
    <div class="flex flex-col xl:flex-row items-stretch w-full gap-6">
      <div class="xl:w-1/2 w-full flex items-center justify-end">
        <h1 class="text-5xl font-bold">2012</h1>
      </div>
      <div class="xl:w-1/2 w-full">
        <div class="card xl:card-side bg-base-100 shadow-xl">
          <figure class="xl:w-48 w-full">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/crowd.png?alt=media&token=089616be-c984-4480-afaa-8c87e9008b3c" alt="Crowd Interactive" class="w-full h-full object-cover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Desarrollador Jr</h2>
            <p>Crowd interactive</p>
            <p>feb. 2012 - ago. 2013 · 1 año 7 meses</p>
            <p>Colima ,Colima</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col xl:flex-row items-stretch w-full gap-6">
      <div class="xl:w-1/2 w-full order-2 xl:order-1">
        <div class="card xl:card-side bg-base-100 shadow-xl">
          <figure class="xl:w-48 w-full">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/ccol.png?alt=media&token=01de6851-d7e5-4fa9-9cf8-cca11326f9ad" alt="CECYTCOL" class="w-full h-full object-cover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Coordinador Tallerista </h2>
            <p>CECYTCOL</p>
            <p>jul. 2012 - may. 2016 · 3 años 10 meses</p>
            <p>Colima, Colima</p>
          </div>
        </div>
      </div>
      <div class="xl:w-1/2 w-full flex items-center justify-start order-1 xl:order-2">
        <h1 class="text-5xl font-bold">2013</h1>
      </div>
    </div>

    <div class="flex flex-col xl:flex-row items-stretch w-full gap-6">
      <div class="xl:w-1/2 w-full flex items-center justify-end">
        <h1 class="text-5xl font-bold">2014</h1>
      </div>
      <div class="xl:w-1/2 w-full">
        <div class="card xl:card-side bg-base-100 shadow-xl">
          <figure class="xl:w-48 w-full">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/coir.png?alt=media&token=b9067a54-62c0-4dde-8e54-83e05a3490a4" alt="Coirtech" class="w-full h-full object-cover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Tecnico internacional</h2>
            <p>Coirtech</p>
            <p>may. 2013 - feb. 2014 · 10 meses</p>
            <p>Tecomán, Colima</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="flex flex-col xl:flex-row items-stretch w-full gap-6">
      <div class="xl:w-1/2 w-full order-2 xl:order-1">
        <div class="card xl:card-side bg-base-100 shadow-xl">
          <figure class="xl:w-48 w-full">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/int.png?alt=media&token=180d658a-dc0b-4841-8037-5020c710ac3c" alt="Integrity" class="w-full h-full object-cover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Servicio Técnico</h2>
            <p>Inetgrity</p>
            <p>sept. 2016 - ene. 2017 · 5 meses</p>
            <p>Monterrey, Nuevo León</p>
          </div>
        </div>
      </div>
      <div class="xl:w-1/2 w-full flex items-center justify-start order-1 xl:order-2">
        <h1 class="text-5xl font-bold">2016</h1>
      </div>
    </div>
    
    <div class="flex flex-col xl:flex-row items-stretch w-full gap-6">
      <div class="xl:w-1/2 w-full flex items-center justify-end">
        <h1 class="text-5xl font-bold">2017</h1>
      </div>
      <div class="xl:w-1/2 w-full">
        <div class="card xl:card-side bg-base-100 shadow-xl">
          <figure class="xl:w-48 w-full">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/tec.png?alt=media&token=47cd4d9b-464a-4811-8b86-8242bac17b51" alt="Tec de Monterrey" class="w-full h-full object-cover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Desarrollador Multimedia</h2>
            <p>Tec de Monterrey</p>
            <p>jun. 2017 - abr. 2022 · 4 años 11 meses</p>
            <p>Monterrey, Nuevo León</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col xl:flex-row items-stretch w-full gap-6">
      <div class="xl:w-1/2 w-full order-2 xl:order-1">
        <div class="card xl:card-side bg-base-100 shadow-xl">
          <figure class="xl:w-48 w-full">
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/chambs.png?alt=media&token=678e5b46-cf3a-40fd-ba77-76d1abd19abb" alt="Don Chambitas" class="w-full h-full object-cover" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Reclutador Jr</h2>
            <p>Don Chambitas</p>
            <p>jun. 2022 - sept. 2022 · 4 meses</p>
            <p>Colima, Colima</p>
          </div>
        </div>
      </div>
      <div class="xl:w-1/2 w-full flex items-center justify-start order-1 xl:order-2">
        <h1 class="text-5xl font-bold">2022</h1>
      </div>
    </div>
  </div>
</div>



