<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col xl:flex-row w-full gap-8">
    <div class="w-full xl:w-auto">
      <h3 class="text-xl font-semibold">También he colaborado en</h3>
      <h1 class="mb-5 text-5xl font-bold">VideoClips</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-6 w-full xl:w-auto">
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://www.facebook.com/Eldeforma/videos/726949641013172">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/CM.png?alt=media&token=9e14032a-cd1b-4da5-9cfe-60821159af22" alt="Capitan Morgan" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Capitan Morgan
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Breve participación en un comercial para el Deforma gracias al buen @absurdovisual</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Comercial</div> 
            <div class="badge badge-outline">Capitan morgan</div>
          </div>
        </div>
      </div>
  
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://www.facebook.com/Eldeforma/videos/662903564121296">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/FK.png?alt=media&token=8b8fed89-5ced-4579-aeb9-866ef4f4b12a" alt="Fresca" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Fresca
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Ligera participación como extra</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Comercial</div> 
            <div class="badge badge-outline">Fresca</div>
          </div>
        </div>
      </div> 
    
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://www.facebook.com/Eldeforma/videos/525826194882167">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/AMZ.png?alt=media&token=d1010abe-dc4b-4bd7-ac00-efa9ede9dca1" alt="Amazon" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            Amazon
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Cameos en este promo para amazon</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Comercial</div> 
            <div class="badge badge-outline">Amazon</div>
          </div>
        </div>
      </div>
    
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="https://www.youtube.com/watch?v=ZoWxJWZp4_A">
          <figure>
            <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-52798.appspot.com/o/EEE.png?alt=media&token=7686019c-017a-4291-bf15-c146e8b1f892" alt="El locutor" class="w-full" />
          </figure>
        </a>
        <div class="card-body">
          <h2 class="card-title">
            El locutor
            <div class="badge badge-success">Online</div>
          </h2>
          <p>Participación dentro de la live session de En Esta Esquina vs La pandemia</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">LiveHaus</div> 
            <div class="badge badge-outline">Videoclip</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

