<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Profesional</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="hero is-fullheight is-bold cover">
        <div class="hero-head">
        </div>
        <div class="hero-body">
            <div class="container has-text-left">
                <h1 class="title white ">Heriberto Cavazos Estrada</h1>
                <span class="subtitle white">Gurú digital</span>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight py-4">
        <div class="section-heading ">
            <img src="/img/profile.png" alt="" class="profile">
            <h3 class="title is-3">Un poco acerca de mi</h3>
            <h4 class="subtitle is-5">“La tecnología es una herramienta diseñada a ayudarnos, no ha sustituirnos ” -H</h4>
            <div class="container content has-text-left">
                <p>En los últimos <strong>4 años</strong> me he desempeñado dentro del rol de front end developer de herramientas digitales para la educación,  las cuales van desde simples sitios o páginas web estáticas, hasta aplicaciones dedicadas para un hardware específico, mi trabajo consiste en entender los requerimientos técnicos previos al desarrollo, proponer un prototipo sobre la tecnología a desarrollar,</p>
            </div>
        <div class="columns has-same-height is-gapless py-6">
            <div class="column">
            <!-- Profile -->
                <div class="card">
                    <div class="card-content">
                    <h3 class="title is-4">Perfil técnico</h3>

                    <div class="content">
                        <table class="table-profile">
                        <tr>
                            <th colspan="1"></th>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <td>Empleo Actual</td>
                            <td>Fullstack Developer Tec de Monterrey</td>
                        </tr>
                        <tr>
                            <td>Telegram chat</td>
                            <td><a href="https://t.me/xhce911" class="button is-link"><i class="fab fa-telegram-plane mx-4"></i> Say hello!</a></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>xhce911@gmail.com</td>
                        </tr>
                        <tr>
                          <td></td>
                            <td>
                              <div class="buttons has-addons is-centered ">
                              <a href="https://github.com/xhce911" class="button is-link" target="_blank"><i class="fab fa-github mx-4"></i> Github</a>
                              <a href="https://www.linkedin.com/in/xhce911" class="button is-link" target="_blank"><i class="fab fa-linkedin mx-4"></i> LinkedIn</a>
                              <a href="https://twitter.com/xhce911" class="button is-link" target="_blank"><i class="fab fa-twitter mx-4"></i> Twitter</a>
                              </div>
                            </td>
                        </tr>
                        </table>
                    </div>
                    <br>
                    
                    </div>
                </div>
                <div class="card py-4 my-6">
                    <div class="card-content">
                        <h1 class="title">Herramientas y editores</h1>
                        <p class="subtitle">Que uso día a día</p>
                        <div class="content">
                            
                            <img src="/img/ai.png" alt="" class="logo">
                            <img src="/img/ae.png" alt="" class="logo">
                            <img src="/img/au.png" alt="" class="logo">
                            <img src="/img/ps.png" alt="" class="logo">
                            <img src="/img/xd.png" alt="" class="logo">
                            <img src="/img/sktch.png" alt="" class="logo">
                            <img src="/img/fgm.png" alt="" class="logo">
                            <img src="/img/unity.png" alt="" class="logo">
                            <img src="/img/xcod.png" alt="" class="logo">

                        </div>

                    </div>

                </div>
            </div>



        <div class="column ">
            <!-- Skills -->
            <div class="card has-text-left ">
                <div class="card-content skills-content">
                    <h3 class="title is-4">Habilidades y tecnologías</h3>
                    
                    <div class="content">
                        <article class="media">
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <img src="img/js.png" class="thumb" alt="">
                                <strong>JavaScript:</strong>
                                <br>
                                <progress class="progress is-primary" value="80" max="100"></progress>
                            </p>
                            </div>
                        </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                <p>
                                    <img src="img/cs.png" class="thumb" alt="">
                                    <strong>C#:</strong>
                                    <br>
                                    <progress class="progress is-warning" value="60" max="100"></progress>
                                </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <img src="img/swift.png" class="thumb" alt="">
                                <strong>Swift:</strong>
                                <br>
                                <progress class="progress is-primary" value="70" max="100"></progress>
                            </p>
                            </div>
                        </div>
                        </article>

                        <article class="media">
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <img src="img/node.png" class="thumb" alt="">
                                <strong>Node.js:</strong>
                                <br>
                                <progress class="progress is-primary" value="75" max="100"></progress>
                            </p>
                            </div>
                        </div>
                        </article>

                        <article class="media">
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <img src="img/react.png" class="thumb" alt="">
                                <strong>React</strong>
                                <br>
                                <progress class="progress is-primary" value="75" max="100"></progress>
                            </p>
                            </div>
                        </div>
                        </article>

                        
                    </div>
                </div>
            </div>


            <div class="card py-4 my-6">
                <div class="card-content">
                    <h1 class="title">Sistemas y otras tecnologías</h1>
                    <p class="subtitle">Que ayudan a mejorar la chamba</p>
                    <div class="content">
                        
                        <img src="/img/appl.png" alt="" class="logo">
                        <img src="/img/win.png" alt="" class="logo">
                        <img src="/img/mnjro.png" alt="" class="logo">
                        <img src="/img/ubnt.png" alt="" class="logo">
                        <img src="/img/gt.png" alt="" class="logo">
                        <img src="/img/vs.png" alt="" class="logo">
                        

                    </div>

                </div>

            </div>

        </div>
    </section>
    
    <!--Workline-->
    <section class="container has-text-centered">
        
    </section>
   

    <section class="section" id="portfolio">
        <div class="container">
          <div class="section-heading">
            <h3 class="title is-2">Portafolio</h3>
            <h4 class="subtitle is-5">Mis trabajos más destacados</h4>
          </div>
          <br>
    
          <div class="container portfolio-container">
            <div class="columns">
              <div class="column is-4">
                <!-- ART3D -->
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">
                      <span>ART3D</span>
                      <span class="is-pulled-right">
                          <span class="tag is-default">v1</span>
                          <span class="tag is-default">C#</span>
                        <span class="tag is-default">Android</span>
                        <span class="tag is-default">IOS</span>
                      </span>
                    </p>
                  </header>
                  <div class="card-content">
                    <figure class="image">
                      <img src="../img/artcv.png" alt="image refrence">
                    </figure>
                  </div>
                  <footer class="card-footer">
                    <a href="https://thce911.github.io/ART3D/" class="card-footer-item" target="_blank">Página de producto</a>
                    <a href="https://bitbucket.org/dctbucket/art3d/src" class="card-footer-item" target="_blank">Código fuente</a>
                  </footer>
                </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    <span>Profesor Atom</span>
                    <span class="is-pulled-right">
                        <span class="tag is-default">v1</span>
                        <span class="tag is-default">Js & Gcloud</span>
                      <span class="tag is-default">Android</span>
                      <span class="tag is-default">IOS</span>
                    </span>
                  </p>
                </header>
                <div class="card-content">
                  <figure class="image">
                    <img src="../img/prcv.png" alt="image refrence">
                  </figure>
                </div>
                <footer class="card-footer">
                  <a href="https://profesoratom-e2b4d.firebaseapp.com/" target="_blank" class="card-footer-item">Página de producto</a>
                  <a href="https://bitbucket.org/dctbucket/profesor-atom/src/master/"  target="_blank" class="card-footer-item">Código fuente</a>
                </footer>
              </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    <span>Biomedia</span>
                    <span class="is-pulled-right">
                        <span class="tag is-default">v1</span>
                        <span class="tag is-default">Swift</span>
                      <span class="tag is-default">Ipad Os</span>
                    </span>
                  </p>
                </header>
                <div class="card-content">
                  <figure class="image">
                    <img src="../img/biomedia.png" alt="image refrence">
                  </figure>
                </div>
                <footer class="card-footer">
                  <a href="https://apps.apple.com/us/app/biomedia/id1489904891" class="card-footer-item" target="_blank">Página de producto</a>
                  <a href="https://bitbucket.org/dctbucket/biomedia/src/master/c" class="card-footer-item" target="_blank">Código fuente</a>
                </footer>
              </div>
        </div>
      </section>
      <section class="hero is-medium is-bold has-text-centered">
          <div class="hero-body">
            <h1 class="title">Lleváte una copia</h1>
            <a href="/files/coverLetter.pdf" class="button is-link " download><i class="far fa-file-alt mx-4" ></i> Cover Letter</a> 
            <a href="/files/CV.pdf" class="button is-link " download><i class="far fa-file-alt mx-4" ></i> Currículum</a>

          </div>
          <div class="box cta">
            <p class="has-text-centered">
                Estilos y CSS <span class="tag is-primary">Bulma</span> Inspirado en los <a href="https://bulmatemplates.github.io/bulma-templates/">Bulma templates</a>
            </p>
        </div>

      </section>


</body>
<script src="https://kit.fontawesome.com/1e1a8bc4b5.js" crossorigin="anonymous"></script>

</html>