h1{
    font-size: 10pt;
}


.media{
    position: relative;
    float: right;
    
}

.cardContent{
    display: inline-block;
    text-align: justify;
    width: 90%;
    height: 120px;
    word-wrap: break-word;
    overflow: hidden;

}


.cardContent img{
    float: left;
    width: 100px;
    height: 100px;
    background-size: contain;
}

.cover{
    width: auto;
    
}
