<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate Media</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container is-widescreen my-6">
        <div class="hero is-smalll is-link">
            <div class="hero-body ">
                <h1 class="title">Editar entrada</h1>

            </div>
        </div>
    </div>

    <form action="/pages/<%= page.id %>?_method=PUT" method="POST">
        <%- include('_form_input') %>
    </form>
</body>
</html>